* {
    font-family: 'Orbitron', sans-serif;
}

body {
    background-color: #0a0a0a;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    justify-content: center;
    color: #fff;
}

#container {
margin: 20px;
}

#container::before {
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
    background: radial-gradient(
        circle at top right,
        rgba(0, 255, 255, 0.3) 30%,
        transparent 70%
    );
    transform: rotate(-45deg);
    pointer-events: none;
    z-index: -1;
}

#input input {
    padding: 12px;
    font-size: 1.2rem;
    border: none;
    border-bottom: 2px solid #0ff;
    background-color: transparent;
    margin: 10px;
    width: 300px;
    color: #0ff;
    transition: all 0.3s ease;

}

#input input:focus {
    outline: none;
    box-shadow: 0 0 10px #0ff;
}

#input input::placeholder {
    color: #0ff;
}

#input button {
    padding: 12px 24px;
    font-size: 1.2rem;
    background-color: transparent;
    color: #f0f;
    border: 2px solid #f0f;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s ease;
    text-transform: uppercase;
    letter-spacing: 2px;
}

#input button:hover {
    background-color: #f0f;
    color: #0a0a0a;
    box-shadow: 0 0 20px #f0f;
    transition: 0.75s;
}

#output {
    padding: 40px;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;    
}

#pokemonSprite {
    max-width: 100%;
    max-height: 100%;
    filter: drop-shadow(5px 5px 10px #ff00ff) drop-shadow(-2px -2px 5px #00ffff);
    display: none;
}