body{
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: antiquewhite;
}

#mySubmit{
    background-color: aquamarine;
    color: black;
    border-radius: 0.75em;
}

#mySubmit:hover{
    scale: 1.2;
    background-color: black;
    color: aquamarine;
    transition: 0.75s;
}

fieldset{
    margin: auto;
    margin-top: 15%;
    width: 50%;
    background-color: thistle;
    border: 5px solid aliceblue;
    box-sizing: border-box; 
    border-radius: 0.5em;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
}